table {
    width: 100%;
  }
 
  .actionss{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    tr{
      height: 25px;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
        color: blue;
      }
    }
  }