
<div class="employeeDetailMain">

  <div class="employeeDetail empcontainer">
    <p> Ad:{{ empbilgi?.name}} 
     -  Soyad:{{ empbilgi?.surname}} 
     -  Tel No:{{ empbilgi?.telno}} 
     -  Departman:{{ empbilgi?.departman}} </p>
  </div>

  <div class="calendarMain empcontainer">
    <p>
      Bugün {{currentDate | longdate}}
    </p>

    <div class="calendarContainer">
        <div class="calendarDaysContainer">
        <div *ngFor="let day of days; let i = index">
            <p [ngClass]="'day' + dayOfWeek[i]">{{ day }}</p>
        </div>
        </div>
        <div class="calendarNumberContainer" #checkmarkDiv >
          <ng-template *ngIf="checkmarks; then templateTrue else templateFalse" />
          <ng-template #templateTrue>
              <div class="templateTrue" *ngFor="let checkmark of checkmarks; let i = index" [ngClass]="{ 'trueClass': checkmark.isPresent, 'falseClass': !checkmark.isPresent, 'pClass': true}">
                <p class="otele" [attr.data-date]="checkmark.date">{{ checkmark.isPresent?"1":"0" }}</p>
            </div>
          </ng-template>
          <ng-template #templateFalse>
            <div class="templateFalse">
              <p>Bu Ay için puantaj eklenmemiş</p>
              <button (click)="addCheckMark()" class="btn btn-outline-primary">Ekle</button>
            </div>
          </ng-template>
      
        </div>
    </div>
  </div>
</div>