
<div class="employeeDetailMain">

  <div class="employeeDetail empcontainer">
    <p> Ad:{{ empbilgi?.name}} 
     -  Soyad:{{ empbilgi?.surname}} 
     -  Tel No:{{ empbilgi?.telno}} 
     -  Departman:{{ empbilgi?.departman}} </p>
  </div>

  <div class="calendarMain empcontainer">
    <p>{{currentDate | getMonthName | uppercase}}</p>
    <p>

      Bugün {{currentDate | longdate}}
    </p>

    <div class="calendarContainer">
        <div class="calendarDaysContainer">
        <div *ngFor="let day of days; let i = index">
            <p [ngClass]="'day' + dayOfWeek[i]">{{ day }}</p>
        </div>
        </div>
        <div class="calendarNumberContainer" #checkmarkDiv >
          <ng-template *ngIf="responseListCheckmarks?.checkMarks; then templateTrue else templateFalse" />
          <ng-template #templateTrue>
                       
            <ng-container *ngIf="responseListCheckmarks?.prevDays">
              <div class="templateTrue" *ngFor="let prevday of responseListCheckmarks.prevDays; let i = index" [ngClass]="{ 'prevClass':true}">
                <p class="dateStr" [attr.data-date]="prevday.date">{{ prevday | date: 'd' }}</p>
                
            </div>
            </ng-container> 
            <div class="templateTrue" *ngFor="let checkmark of responseListCheckmarks.checkMarks; let i = index" [ngClass]="{ 'trueClass': checkmark.isPresent, 'falseClass': !checkmark.isPresent, 'pClass': true}">
              <p class="dateStr" [attr.data-date]="checkmark.date">{{ checkmark.date | date: 'd' }}</p>
          </div>
          </ng-template>
          <ng-template #templateFalse>
            <div class="templateFalse">
              <p>Bu Ay için puantaj eklenmemiş</p>
              <button (click)="addCheckMark()" class="btn btn-outline-primary">Ekle</button>
            </div>
          </ng-template>
      
        </div>
    </div>
  </div>
</div>