.employeeMain {
    height: 94vh;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    gap: 15px;
    align-items: center;

    .employeeMainTitle {
        a {
            text-decoration: none;
            color: gray;
            padding: 5px;
            font-size: medium;
            font-size: 16px;
            padding: 4px;

            &:hover {
                
                
                transition: all ease-in-out 0.3s;
            }
        }

        span {
            font-weight: bold;
            color: gray;
        }

        padding-top: 30px;
        padding-bottom: 30px;
    }


}