.checkmarkMain{
    border:1px solid red;
    padding: 10px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap:15px;
    .renderedListItem{
        display: flex;
        gap: 5px ;
        .checkmarkLeftSide{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            border: 1px solid blueviolet;
        }
        .checkmarkRightSide{
            flex: 1;
            padding: 5px;
            padding-top: 10px;
            border: 1px solid greenyellow;
        }
    }
   
}
.emptyCheckmark{
    color: red;
    text-align: center;

}