table {
    width: 100%;

  }
 
  .actionss{
    tr{
      display: inline-block;
      height: 25px;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
        color: blue;
      }
    }
  }
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;

    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(232, 232, 232, 0.393);
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }